{% extends 'base.html' %}

{% block title %}
    {{car.make}} {{car.model_name}} {{car.year}}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center" style="margin-top: 3rem;">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Автомобиль: {{ car.make }} {{ car.model_name }}</h1>
            <p class="card-text">Id: {{ car.id }}</p>
            <p class="card-text">Год выпуска: {{ car.year }}</p>
            <p class="card-text">Пробег: {{ car.mileage }}</p>
            <p class="card-text">Slug: {{ car.slug }}</p>
        </div>
    </div>
</div>
{% endblock %}