<div class="container-fluid mt-6 bg-body-tertiary" style="margin-top: 3rem;">
    <footer class="py-5">
      <div class="container">
          <div class="row">
              <!-- Колонка 1: О нас -->
              <div class="col-md-4 mb-4">
                  <h5>О нас</h5>
                  <p>Мы — команда профессионалов, создающая качественные digital-решения для вашего бизнеса.</p>
              </div>

              <!-- Колонка 2: Быстрые ссылки -->
              <div class="col-md-4 mb-4">
                  <h5>Быстрые ссылки</h5>
                  <ul class="list-unstyled">
                      <li><a href="{% url 'index' %}">Главная</a></li>
                  </ul>
              </div>

              <!-- Колонка 3: Социальные сети -->
              <div class="col-md-4 mb-4">
                  <h5>Мы в соцсетях</h5>
                  <div class="social-icons">
                    <a href="https://github.com/Anardest">GitHub</a>
                  </div>
              </div>
          </div>

          <!-- Копирайт -->
          <div class="text-center mt-4 pt-3 border-top">
              <p>&copy; 2023 CarPark. Все права защищены.</p>
          </div>
      </div>
  </footer>
</div>


<!-- /Footer -->